html, body {
    background-color: white;
}

header {
    color: rgb(0, 0, 0);
    background-color: white;
    background-image: none;
}

menu {
    background-color: white;
    border: 1px solid black;
}

menu a { 
    color: black;
}

section a {
    display: block;
    background-color: white;
    margin: 30px;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: -1px 9px 10px 0px rgba(0, 0, 0, 0.363);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Passion One';
    font-size: 2em;
    text-align: center;
}